/**** page acceuil ****/
#clip_Motion
{
    z-index: 10;
}
#mySelf
{
    width: 25%;
}
.separateur
{
    height: 10em;
}
.accueil-p
{
    width: 40%;
}

/****************/

/** PRELOADER **/

.after_anim
{
    width: 100%;
    height: 100%;
    transition: 3s all;
}

.taille
{
    width: 100%;
    height: 100%;
}
.visual_before
{
    width: 100%;
    height: 100%;
}
.visual_after
{
    width: 60%;
    height: 100%;
    transition: all 5s;
}


/****************/