/**** Compétence ****/
.wrap
{
    width: 95vw;
    height: 90vh;
}
.bulle
{
    left: -50%;
    top: 35%;
    text-decoration: none;
}
.bulle>p
{
    font-size: 2.2vw;
    transition: font-size 0.3s linear;
}
.bulle:hover >p
{
    font-size: 2.4vw;
    transition: font-size 0.3s linear;
}
.touche-dir
{
    width: 10vh;
    height: 5vh;
}
.touche-left
{
    border-left: 1rem solid #3DA1FF;
}
.touche-right
{
    border-right: 1rem solid #3DA1FF;
}
.touche-left:hover
{
    animation: alternate infinite 0.3s t-left;
}
.touche-right:hover
{
    animation: alternate infinite 0.3s t-right;
}

@keyframes t-right
{
    0%
    {
        border-right: 1rem solid #3DA1FF;
    }
    100%
    {
        border-right: 1rem solid whitesmoke;
    }
}
@keyframes t-left
{
    0%
    {
        border-left: 1rem solid #3DA1FF;
    }
    100%
    {
        border-left: 1rem solid whitesmoke;
    }

    
}
/****************/