/****************/
/**** Général ****/
.Color-bg-gray
{
    background-color: #7e7d7d;
}
.Color-bg-ciel
{
    background-color: #b8d9ff;
}
.Color-gray
{
    color: #7e7d7d;
}
.Color-bg-darkBlue
{
    background-color: #221C38;
}
.Color-darkBlue
{
    color: #221C38;
}
.Color-bg-lightBlue
{
    background-color: #3DA1FF;
}
.Color-lightBlue
{
    color: #3DA1FF;
}
.Color-bg-lightGreen
{
    background-color: #82e6a0;
}
.Color-lightGreen
{
    color: #82e6a0;
}
.full-space
{
    width: 100%;
    height: 100%;
}
.pos-Absolute
{
    position: absolute;
}
.text-decoration-none
{
    text-decoration: none;
}
.h-50vh
{
    height: 50vh;
}
.h-20vh
{
    height: 20vh;
}
.w-100vw
{
    width: 100vw;
}
/****************/
/**** BackGround Animation ****/
canvas, body 
{
  margin: 0; padding: 0;overflow: auto;
}
canvas 
{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: -1;
  display: block;
}




